*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.overlay
{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/Homebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    color:white;
    margin:0;
}
.welcome {
    position: absolute;
    top: 37%;
    left: 60px;
    font-size: 80px;
    color: rgb(176, 117, 68);
}

.quotes {
    position: absolute;
    top: 52%; 
    left: 85px;
    font-size: 28px;
    font-style: italic;
    color:white;
}
.overlay button
{
    background-color:  rgb(176, 117, 68);
    border-radius: 4px;
    box-sizing: border-box;
    color:white;
    border: 2px solid rgb(176, 174, 174);
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right: 20px;
    position: absolute;
    top: 60%; 
    left: 85px;
    font-size:15px;
}
.overlay button a
{
    text-decoration: none;
    color:white;
}
.nav-bar
{
    
    display:flex;
    color:white;
    justify-content: space-between;
    align-content: center;
    padding-left: 25px;
    padding-right:25px;
}
.nav-bar h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin:0;
    padding:20px;
    color: white;
}
.nav-bar ul{
    display:flex;
    align-items: center;
    gap:35px;
    padding:0;
    margin:0;
    list-style:none;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 50px;
}
.nav-bar ul,li{
    cursor:pointer;
}
.nav-bar input[type="text"]
{
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color:rgb(181, 121, 72);
    border: 2px solid lightwhite;
    padding:5px;
}
.nav-bar input::placeholder
{
    color: lightgray;
    opacity:1px;
}
.nav-bar li a
{
    text-decoration: none;
     color:rgb(176, 117, 68);
     font-style: bold;
}
h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(133, 41, 41);
    text-align: center;
}
.Aboutus
{
    display:flex;
    color:black;
    justify-content: space-between;
    align-content: center;
    padding: 25px;
    padding-left: 100px;
    gap:30px;
    border-radius: 8px;
    border: 2px solid lightgray;
}
.Aboutuspara 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
}
.Aboutus img
{
    height:270px;
    width:500px;
    margin-left:20px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.3);
}
.Aboutus button 
{
    background-color:rgb(181, 121, 72);
    border-radius: 4px;
    box-sizing: border-box;
    color:white;
    border: 2px solid rgb(176, 174, 174);
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right: 20px;
    position: absolute;
    top:155%;
    left: 380px;
    font-size:15px;
    margin-top: 15px;
}
.Aboutus button a
{
    text-decoration: none;
    color:white;
}
.Product
{
    display:flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    padding:60px 150px;
}
.productbox
{
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.productbox h3
{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(133, 41, 41);
    text-align: center;
    font-style: italic;
}
.productbox p
{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: italic;
    padding:25px;
}
.productbox img
{
    height:250px;
    width:300px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
    display: block;       
    margin-left: auto;      
    margin-right: auto;
}
.contact
{
    width:100%;
    height:150px;
    background-color: rgb(133, 41, 41);
    color: white;
    padding:50px;
    padding-top: 30px;
}